.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Dashboard-Heading, .Task-Heading, .Task-form-heading, .Signin-Heading, .Details-Heading, .Edit-Heading, .Signup-Heading {
  text-decoration-line: underline;
  text-align: center;
  margin: 7px;
  padding: 4px;
  border: 6px;
}

.Dashboard-Body, .Task-Body, .Task-form-body, .SignIn-body, .Detail-Body, .Edit-Body, .Signup-Body {
  margin: 10px;
  padding: 10px;
  border: 8px;
}

.Task, .Dashboard, .CreateTask, .Signin, .DetailTask, .Edit-Task, .Signup {
  text-align: center;
  margin: 15px;
  padding: 14px;
  border: 5px;
}

#form-button {
  margin: 5px;
  padding: 5px;
  border: 4px;
}

.right {
  position: absolute;
  right: 0px;
}

.SignIn-body {
  border-bottom: double;
}

.Detail-Body{
  font-size: large;
}